body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: tomato;
    font-weight: bold;
}

.logo-yadika-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

nav img {
    width: 5rem;
}

.kenzi {
    text-align: center;
    background: url(Kum.jpeg);
    height: 20rem;
    background-size: cover;
    background-position: center;
    padding-top: 7rem;
    color: rgb(21, 139, 218);
}

.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);}
.btn-grad{
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-group:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.btn-wel {background-image: linear-gradient(to right, #314755 0%,) #26a0da 51%, #314755 100%;}

.btn-wel {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-wel:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.button {
  display: flex;
  justify-content: center;
}

.btn-aw {
  background-image: linear-gradient(to right, #314755 0%,) #26a0da 51%, #314755 100%;
}

.btn-aw:hover {
  background-position: right center;
    color: #fff;
    text-decoration: none;
}

.ken {
  display: flex;
  justify-content: center;
}